[Unit]
Description=Flask Cookbook
After=network.target

[Service]
User=dietpi
WorkingDirectory=/var/www/html/flask-cookbook
EnvironmentFile=/var/www/html/flask-cookbook/.env
ExecStart=/var/www/html/flask-cookbook/venv/bin/gunicorn -w ${FLASK_WORKERS} -b ${FLASK_HOST}:${FLASK_PORT} app:app
Restart=always
Environment=FLASK_APP=/var/www/html/flask-cookbook
Environment=FLASK_ENV=production
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
